<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Aden adde International Airport</string>
		<key>description</key>
		<string>Sudan</string>
		<key>latitude</key>
		<real>2.018187</real>
		<key>longitude</key>
		<real>45.30353</real>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>latitude</key>
		<real>2.018471</real>
		<key>longitude</key>
		<real>45.303138</real>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>latitude</key>
		<real>2.018246</real>
		<key>longitude</key>
		<real>45.302923</real>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>description</key>
		<string></string>
		<key>latitude</key>
		<real>2.018101</real>
		<key>longitude</key>
		<real>45.302725</real>
	</dict>
    <dict>
        <key>title</key>
        <string></string>
        <key>description</key>
        <string></string>
        <key>latitude</key>
        <real>2.018074</real>
        <key>longitude</key>
        <real>45.302510</real>
    </dict>
</array>
</plist>
